// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';



body {
    margin: 0 !important;
}
.container-fluid{
    padding: 0;
}

.admin-menu {
    background-color: red;
    margin: 0;
    padding: 5px;
    ul {
        padding: 10px;
        li{
            font-size: 16px;
            text-align: left;
            list-style-type: none;
            border-bottom: 1px solid black;
            a {
                text-decoration: none;
                color: black;
            }
            :hover{
                color: #28a745;
            }

        }
    }
}

.categories-title {
    margin: 30px auto;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid black;
}

.invalid-feedback {
    display: block;
    align-self: left;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}
