@import url(https://fonts.googleapis.com/css?family=Nunito);.ui.form input[type=text] {
  height: 38px;
}


.cont {
  margin-top: 1rem;
}

.list-item-icon {
  color: green !important;
  cursor: pointer;
}

.list-item-icon :hover {
  color: red;
}

.list-item-icon-open {
  color: blue !important;
  cursor: pointer;
}

.list-item-icon-open :hover {
  color: red;
}

